@font-face {
  font-family: 'IBMPlexSerif';
  font-display: swap;
  font-weight: 400;
  src: url('./fonts/IBMPlexSerif-Text.woff2') format('woff2');
}
@font-face {
  font-family: 'IBMPlexSerif';
  font-display: swap;
  font-weight: 400;
  font-style: italic;
  src: url('./fonts/IBMPlexSerif-TextItalic.woff2') format('woff2');
}
@font-face {
  font-family: 'Quicksand';
  font-display: swap;
  font-weight: 300;
  src: url('./fonts/Quicksand-Light.ttf') format('ttf');
}
@font-face {
  font-family: 'Quicksand';
  font-display: swap;
  font-weight: 400;
  src: url('./fonts/Quicksand-Regular.ttf') format('ttf');
}
@font-face {
  font-family: 'Quicksand';
  font-display: swap;
  font-weight: 500;
  src: url('./fonts/Quicksand-Medium.ttf') format('ttf');
}
@font-face {
  font-family: 'Quicksand';
  font-display: swap;
  font-weight: 600;
  src: url('./fonts/Quicksand-SemiBold.ttf') format('ttf');
}
@font-face {
  font-family: 'Quicksand';
  font-display: swap;
  font-weight: 700;
  src: url('./fonts/Quicksand-Bold.ttf') format('ttf');
}
@font-face {
  font-family: 'Urbanist';
  font-display: swap;
  src: url('./fonts/Urbanist-Regular.woff2') format('woff2');
}
